<!-- Opportunities Section -->
    <section id="opportunities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Opportunities</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevOps</h4>
                    <p class="text-muted">Since 2015 play with docker, rancher, kubernetes</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coder</h4>
                    <p class="text-muted">Since 2012 play with Linux, Terminal, Python, PHP, JS</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inventor</h4>
                    <p class="text-muted">Since childhood, I have been interested in technology, I like to solder and invent something, but I'm such a lazy person</p>
                </div>
            </div>
        </div>
    </section>